# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
weather_df = pd.read_csv('../output_data/cities_wo_index.csv')
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Emerald,-23.5333,148.1667,71.60,68,8,5.75,AU,1611505750
1,Mayo,38.8876,-76.5119,34.00,55,1,10.36,US,1611505750
2,Punta Arenas,-53.1500,-70.9167,62.60,36,0,14.97,CL,1611505605
3,Saint-Pierre,-21.3393,55.4781,80.60,74,20,5.75,RE,1611505750
4,Paracuru,-3.4100,-39.0306,82.00,71,100,21.99,BR,1611505750
...,...,...,...,...,...,...,...,...,...
586,Quatre Cocos,-20.2078,57.7625,80.60,78,40,3.44,MU,1611505818
587,Wasilla,61.5814,-149.4394,32.00,93,90,3.44,US,1611505838
588,Muriwai Beach,-36.8167,174.4500,64.00,85,33,11.65,NZ,1611505838
589,Birao,10.2849,22.7882,84.51,14,6,6.51,CF,1611505839
590,Esim,4.8699,-2.2405,81.61,72,41,9.86,GH,1611505839

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
 # Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
locations = weather_df[['Lat',"Lng"]]
humidity = weather_df['Humidity']
m = gmaps.Map()
heatlayer = gmaps.heatmap_layer(locations,weights=humidity, dissipating=False, max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
# DF with Max Temperature lower than 85 but higher than 60

narrow_df = weather_df.loc[(weather_df["Max Temp"] < 85) & (weather_df["Max Temp"] > 60)].dropna()

narrow_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Emerald,-23.5333,148.1667,71.60,68,8,5.75,AU,1611505750
2,Punta Arenas,-53.1500,-70.9167,62.60,36,0,14.97,CL,1611505605
3,Saint-Pierre,-21.3393,55.4781,80.60,74,20,5.75,RE,1611505750
4,Paracuru,-3.4100,-39.0306,82.00,71,100,21.99,BR,1611505750
6,Port Alfred,-33.5906,26.8910,66.00,91,84,13.31,ZA,1611505751
...,...,...,...,...,...,...,...,...,...
584,Sawākin,19.1059,37.3321,76.89,77,31,10.67,SD,1611505838
586,Quatre Cocos,-20.2078,57.7625,80.60,78,40,3.44,MU,1611505818
588,Muriwai Beach,-36.8167,174.4500,64.00,85,33,11.65,NZ,1611505838
589,Birao,10.2849,22.7882,84.51,14,6,6.51,CF,1611505839
590,Esim,4.8699,-2.2405,81.61,72,41,9.86,GH,1611505839

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [38]:
hotel_df = narrow_df

In [40]:
hotel_df["Hotel Name"] = ''
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Emerald,-23.5333,148.1667,71.60,68,8,5.75,AU,1611505750,
2,Punta Arenas,-53.1500,-70.9167,62.60,36,0,14.97,CL,1611505605,
3,Saint-Pierre,-21.3393,55.4781,80.60,74,20,5.75,RE,1611505750,
4,Paracuru,-3.4100,-39.0306,82.00,71,100,21.99,BR,1611505750,
6,Port Alfred,-33.5906,26.8910,66.00,91,84,13.31,ZA,1611505751,
...,...,...,...,...,...,...,...,...,...,...
584,Sawākin,19.1059,37.3321,76.89,77,31,10.67,SD,1611505838,
586,Quatre Cocos,-20.2078,57.7625,80.60,78,40,3.44,MU,1611505818,
588,Muriwai Beach,-36.8167,174.4500,64.00,85,33,11.65,NZ,1611505838,
589,Birao,10.2849,22.7882,84.51,14,6,6.51,CF,1611505839,
590,Esim,4.8699,-2.2405,81.61,72,41,9.86,GH,1611505839,

In [42]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    #items within function we created in Activity 2
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    response = requests.get(base_url, params=params)
    data = response.json()
    try:
        print(f'Working on {index} row')
        hotel_df.loc[index,"Hotel Name"] = data['results'][0]["name"]
    except:
        print(f'Missing value for row number {index}')

#Visualize Data
hotel_df

Working on 0 row
Working on 2 row
Working on 3 row
Working on 4 row
Working on 6 row
Working on 9 row
Working on 13 row
Working on 15 row
Working on 16 row
Working on 17 row
Missing value for row number 17
Working on 18 row
Working on 21 row
Missing value for row number 21
Working on 22 row
Working on 26 row
Working on 27 row
Working on 34 row
Working on 36 row
Working on 39 row
Missing value for row number 39
Working on 40 row
Working on 41 row
Working on 43 row
Working on 48 row
Working on 49 row
Working on 54 row
Missing value for row number 54
Working on 55 row
Working on 56 row
Working on 58 row
Working on 60 row
Working on 61 row
Working on 63 row
Missing value for row number 63
Working on 65 row
Working on 72 row
Working on 75 row
Working on 76 row
Working on 82 row
Working on 83 row
Working on 84 row
Working on 87 row
Working on 88 row
Working on 90 row
Working on 91 row
Missing value for row number 91
Working on 92 row
Working on 95 row
Missing value for row number 95
Working on 100 row
Working on 103 row
Working on 106 row
Working on 107 row
Missing value for row number 107
Working on 109 row
Working on 111 row
Working on 112 row
Working on 114 row
Working on 115 row
Working on 116 row
Working on 118 row
Working on 120 row
Working on 124 row
Working on 126 row
Working on 127 row
Working on 128 row
Working on 130 row
Working on 134 row
Missing value for row number 134
Working on 136 row
Missing value for row number 136
Working on 139 row
Missing value for row number 139
Working on 140 row
Working on 141 row
Working on 143 row
Working on 144 row
Working on 145 row
Working on 152 row
Working on 154 row
Working on 156 row
Working on 158 row
Working on 159 row
Working on 163 row
Working on 164 row
Working on 165 row
Working on 166 row
Working on 170 row
Working on 172 row
Working on 173 row
Working on 175 row
Working on 176 row
Working on 177 row
Working on 179 row
Working on 186 row
Working on 187 row
Working on 188 row
Working on 189 row
Working on 191 row
Working on 195 row
Working on 196 row
Working on 197 row
Working on 201 row
Working on 203 row
Working on 206 row
Working on 208 row
Working on 210 row
Missing value for row number 210
Working on 214 row
Working on 216 row
Missing value for row number 216
Working on 222 row
Working on 223 row
Working on 226 row
Working on 227 row
Missing value for row number 227
Working on 230 row
Working on 234 row
Missing value for row number 234
Working on 236 row
Working on 239 row
Working on 242 row
Working on 246 row
Working on 249 row
Working on 250 row
Working on 252 row
Working on 254 row
Working on 256 row
Missing value for row number 256
Working on 257 row
Working on 259 row
Working on 266 row
Working on 269 row
Working on 270 row
Working on 275 row
Missing value for row number 275
Working on 277 row
Working on 279 row
Working on 281 row
Working on 284 row
Working on 285 row
Missing value for row number 285
Working on 289 row
Working on 291 row
Working on 297 row
Missing value for row number 297
Working on 299 row
Working on 301 row
Working on 304 row
Working on 306 row
Missing value for row number 306
Working on 307 row
Working on 310 row
Working on 312 row
Working on 318 row
Working on 321 row
Working on 322 row
Missing value for row number 322
Working on 325 row
Working on 326 row
Working on 327 row
Working on 328 row
Working on 331 row
Working on 332 row
Working on 334 row
Working on 335 row
Missing value for row number 335
Working on 337 row
Working on 338 row
Working on 341 row
Working on 343 row
Working on 346 row
Working on 349 row
Working on 351 row
Working on 355 row
Working on 360 row
Working on 361 row
Working on 362 row
Working on 363 row
Working on 364 row
Working on 365 row
Working on 371 row
Working on 372 row
Working on 373 row
Working on 374 row
Working on 376 row
Working on 378 row
Working on 380 row
Working on 381 row
Working on 385 row
Working on 388 row
Working on 389 row
Working on 393 row
Working on 394 row
Working on 398 row
Working on 404 row
Working on 407 row
Working on 411 row
Working on 414 row
Missing value for row number 414
Working on 416 row
Working on 418 row
Working on 424 row
Missing value for row number 424
Working on 426 row
Missing value for row number 426
Working on 428 row
Missing value for row number 428
Working on 430 row
Working on 434 row
Missing value for row number 434
Working on 439 row
Working on 440 row
Working on 442 row
Working on 443 row
Working on 445 row
Working on 449 row
Working on 450 row
Working on 451 row
Working on 457 row
Working on 459 row
Working on 460 row
Working on 463 row
Working on 465 row
Missing value for row number 465
Working on 467 row
Working on 470 row
Working on 472 row
Missing value for row number 472
Working on 474 row
Working on 475 row
Working on 476 row
Missing value for row number 476
Working on 477 row
Working on 479 row
Missing value for row number 479
Working on 483 row
Working on 485 row
Working on 488 row
Working on 493 row
Working on 494 row
Missing value for row number 494
Working on 495 row
Missing value for row number 495
Working on 498 row
Working on 499 row
Working on 501 row
Working on 502 row
Working on 503 row
Working on 504 row
Working on 508 row
Working on 509 row
Working on 510 row
Working on 515 row
Working on 516 row
Working on 517 row
Working on 518 row
Working on 522 row
Missing value for row number 522
Working on 526 row
Working on 528 row
Working on 529 row
Working on 532 row
Working on 533 row
Missing value for row number 533
Working on 534 row
Working on 535 row
Working on 538 row
Working on 540 row
Working on 541 row
Working on 543 row
Missing value for row number 543
Working on 547 row
Working on 549 row
Working on 551 row
Working on 555 row
Working on 561 row
Working on 562 row
Working on 566 row
Missing value for row number 566
Working on 570 row
Working on 571 row
Missing value for row number 571
Working on 573 row
Working on 574 row
Working on 577 row
Missing value for row number 577
Working on 578 row
Working on 579 row
Working on 582 row
Working on 583 row
Working on 584 row
Working on 586 row
Working on 588 row
Working on 589 row
Missing value for row number 589
Working on 590 row

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Emerald,-23.5333,148.1667,71.60,68,8,5.75,AU,1611505750,Stay On Sullivan
2,Punta Arenas,-53.1500,-70.9167,62.60,36,0,14.97,CL,1611505605,Hotel Dreams Del Estrecho
3,Saint-Pierre,-21.3393,55.4781,80.60,74,20,5.75,RE,1611505750,LODGE PALMAE
4,Paracuru,-3.4100,-39.0306,82.00,71,100,21.99,BR,1611505750,Pousada Oasis Paracuru
6,Port Alfred,-33.5906,26.8910,66.00,91,84,13.31,ZA,1611505751,Royal St Andrews Hotel
...,...,...,...,...,...,...,...,...,...,...
584,Sawākin,19.1059,37.3321,76.89,77,31,10.67,SD,1611505838,Arab Plaza Hotel عرب بلازا هوتيل
586,Quatre Cocos,-20.2078,57.7625,80.60,78,40,3.44,MU,1611505818,Shangri-La's Le Touessrok Resort & Spa
588,Muriwai Beach,-36.8167,174.4500,64.00,85,33,11.65,NZ,1611505838,216 Luxury Accommodation Auckland
589,Birao,10.2849,22.7882,84.51,14,6,6.51,CF,1611505839,
590,Esim,4.8699,-2.2405,81.61,72,41,9.86,GH,1611505839,Ankobra Beach

In [43]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [45]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))